USE [master]
GO
/****** Object:  Database [NDS_DALT]    Script Date: 11/29/2021 2:59:16 PM ******/
CREATE DATABASE [NDS_DALT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NDS_DALT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS_DALT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NDS_DALT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NDS_DALT_log.ldf' , SIZE = 270336KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NDS_DALT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NDS_DALT]
GO
/****** Object:  Table [dbo].[Country_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country_NDS](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryNK] [varchar](4) NULL,
	[CountryName] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_NDS](
	[CusID] [int] IDENTITY(1,1) NOT NULL,
	[CusNK] [varchar](4) NOT NULL,
	[CusName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[CountryName] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Sex] [char](1) NULL,
	[Hobby] [varchar](30) NULL,
	[Job] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_NDS](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductNK] [varchar](4) NOT NULL,
	[ProductName] [varchar](50) NULL,
	[ProductPrice] [int] NULL,
	[ProductType] [int] NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType_NDS](
	[ProductTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ProductTypeNK] [varchar](4) NOT NULL,
	[ProductTypeName] [varchar](50) NULL,
	[SourceID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt_NDS](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[ReceiptNK] [varchar](4) NOT NULL,
	[CusID] [int] NOT NULL,
	[StoreID] [int] NULL,
	[SoldDay] [datetime] NULL,
	[SourceID] [int] NULL,
	[Status] [int] NULL,
	[CreatedDay] [datetime] NULL,
	[UpdatedDay] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptDetail_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptDetail_NDS](
	[Detail_ID] [int] IDENTITY(1,1) NOT NULL,
	[Detail_NK] [int] NULL,
	[Receipt_ID] [int] NULL,
	[Product_ID] [int] NULL,
	[Status] [int] NULL,
	[Source_ID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Detail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Source_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Source_NDS](
	[SourceID] [int] NOT NULL,
	[SourceName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store_NDS](
	[StoreID] [int] IDENTITY(1,1) NOT NULL,
	[StoreNK] [varchar](4) NULL,
	[SourceID] [int] NULL,
	[StoreName] [varchar](50) NULL,
	[StoreType] [int] NULL,
	[Country] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreType_NDS]    Script Date: 11/29/2021 2:59:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreType_NDS](
	[StoreTypeID] [int] IDENTITY(1,1) NOT NULL,
	[StoreTypeNK] [varchar](4) NULL,
	[SourceID] [int] NULL,
	[StoreTypeName] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Country_NDS]  WITH CHECK ADD  CONSTRAINT [FK_C_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Country_NDS] CHECK CONSTRAINT [FK_C_S]
GO
ALTER TABLE [dbo].[Customer_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Cus_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Customer_NDS] CHECK CONSTRAINT [FK_Cus_S]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_P_ProductType] FOREIGN KEY([ProductType])
REFERENCES [dbo].[ProductType_NDS] ([ProductTypeID])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_P_ProductType]
GO
ALTER TABLE [dbo].[Product_NDS]  WITH CHECK ADD  CONSTRAINT [FK_P_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Product_NDS] CHECK CONSTRAINT [FK_P_S]
GO
ALTER TABLE [dbo].[ProductType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_PT_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[ProductType_NDS] CHECK CONSTRAINT [FK_PT_S]
GO
ALTER TABLE [dbo].[Receipt_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Re_Cus] FOREIGN KEY([CusID])
REFERENCES [dbo].[Customer_NDS] ([CusID])
GO
ALTER TABLE [dbo].[Receipt_NDS] CHECK CONSTRAINT [FK_Re_Cus]
GO
ALTER TABLE [dbo].[Receipt_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Re_Src] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Receipt_NDS] CHECK CONSTRAINT [FK_Re_Src]
GO
ALTER TABLE [dbo].[Receipt_NDS]  WITH CHECK ADD  CONSTRAINT [FK_Re_Store] FOREIGN KEY([StoreID])
REFERENCES [dbo].[Store_NDS] ([StoreID])
GO
ALTER TABLE [dbo].[Receipt_NDS] CHECK CONSTRAINT [FK_Re_Store]
GO
ALTER TABLE [dbo].[ReceiptDetail_NDS]  WITH CHECK ADD FOREIGN KEY([Product_ID])
REFERENCES [dbo].[Product_NDS] ([ProductID])
GO
ALTER TABLE [dbo].[ReceiptDetail_NDS]  WITH CHECK ADD FOREIGN KEY([Receipt_ID])
REFERENCES [dbo].[Receipt_NDS] ([ReceiptID])
GO
ALTER TABLE [dbo].[ReceiptDetail_NDS]  WITH CHECK ADD FOREIGN KEY([Source_ID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Store_NDS]  WITH CHECK ADD  CONSTRAINT [FK_S_Country] FOREIGN KEY([Country])
REFERENCES [dbo].[Country_NDS] ([CountryID])
GO
ALTER TABLE [dbo].[Store_NDS] CHECK CONSTRAINT [FK_S_Country]
GO
ALTER TABLE [dbo].[Store_NDS]  WITH CHECK ADD  CONSTRAINT [FK_S_Source] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[Store_NDS] CHECK CONSTRAINT [FK_S_Source]
GO
ALTER TABLE [dbo].[Store_NDS]  WITH CHECK ADD  CONSTRAINT [FK_S_StoreType] FOREIGN KEY([StoreType])
REFERENCES [dbo].[StoreType_NDS] ([StoreTypeID])
GO
ALTER TABLE [dbo].[Store_NDS] CHECK CONSTRAINT [FK_S_StoreType]
GO
ALTER TABLE [dbo].[StoreType_NDS]  WITH CHECK ADD  CONSTRAINT [FK_ST_S] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source_NDS] ([SourceID])
GO
ALTER TABLE [dbo].[StoreType_NDS] CHECK CONSTRAINT [FK_ST_S]
GO
USE [master]
GO

USE NDS_DALT
INSERT [dbo].[Source_NDS] ([SourceID], [SourceName], [CreatedDate], [UpdatedDate]) VALUES (1, N'Jupiter', CAST(N'2020-11-17 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Source_NDS] ([SourceID], [SourceName], [CreatedDate], [UpdatedDate]) VALUES (2, N'Jade', CAST(N'2020-11-17 00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Source_NDS] ([SourceID], [SourceName], [CreatedDate], [UpdatedDate]) VALUES (3, N'WebTower9', CAST(N'2020-11-17 00:00:00.000' AS DateTime), NULL)